<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoIndividual">

        <!-- Login abre primeiro -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ProjetoIndividual">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main abre só depois do login -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjetoIndividual" />

        <activity
            android:name=".AddProjetoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ProjetoDetalheActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".RegisterActivity" />

        <service
            android:name=".notificacoes.NotificacaoWorker"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />


    </application>


</manifest>